# Dados brutos e processados
data/raw/*
data/bronze/*
data/silver/*
data/gold/*

# Arquivos grandes
*.parquet

# Python
__pycache__/
*.pyc

# Ambientes virtuais
.venv/
venv/
env/

# Segredos
.env
.env.*
*.key

*.pbix
gold_base_*.csv
gold_indicadores_*.csv

# Dados pesados
data/raw/*.csv
data/bronze/*.parquet
data/silver/*.parquet
data/gold/*.parquet

# Logs e temporários
*.log
.ipynb_checkpoints/

# Variáveis de ambiente
.env

# Sistema operacional
.DS_Store
Thumbs.db

.vscode/